<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<conexoes>
    <conexao>
        <host>10.32.9.36</host>
        <porta>22</porta>
        <usuario>appusr</usuario>
        <senha>app123</senha>
        <dirLocal>C:\DIRDO_Downloads</dirLocal>
        <dirRemoto>/home/arborFX/FX_PRD/data/log/</dirRemoto>
    </conexao>
    
    <conexao>
        <host>192.168.0.2</host>
        <porta>22</porta>
        <usuario>teste</usuario>
        <senha>123teste</senha>
        <dirLocal>teste de diretorio</dirLocal>
        <dirRemoto>outro teste</dirRemoto>
    </conexao>
</conexoes>
